@import url('https://fonts.googleapis.com/css2?family=Urbanist:wght@100&display=swap');

/* Globals styles */
body {
    background-color: aqua;
}



@media all and (max-width: 480px) {
    body {
        background-color:3D3B8E;
        font-size: 14px;
        color:  #FFF;
        
}
    h1,h2,h3,h4,h5,h6 {
    font-size: 20px;
} 
   
}

@media (min-width: 600px) {
    body {
        background-color: #B0E298;
        font-size: 26px;
        color:  #000;
        
    }
    h1,h2,h3,h4,h5,h6 {
        font-size: 50px;
    }
}

